{% extends "reutilizaveis/base.html" %}
{% load widget_tweaks %}

{% block title %}Cadastrar Tag{% endblock %}

{% block content %}
<h2 class="mb-4">Cadastrar Nova Tag</h2>

<form method="post" novalidate>
    {% csrf_token %}
    <div class="mb-3">
        {{ form.nome.label_tag }}
        {{ form.nome|add_class:"form-control" }}
        {% if form.nome.errors %}
            <div class="text-danger">{{ form.nome.errors }}</div>
        {% endif %}
    </div>

    <button type="submit" class="btn btn-success">Cadastrar</button>
    <a href="{% url 'tag_list' %}" class="btn btn-secondary">Voltar</a>
</form>
{% endblock %}