{% extends "reutilizaveis/base.html" %}
{% load widget_tweaks %}

{% block title %}Cadastrar Editora{% endblock %}

{% block content %}
<h2 class="mb-4">Cadastrar Nova Editora</h2>

<form method="post" novalidate>
    {% csrf_token %}
    <div class="mb-3">
        {{ form.nome.label_tag }}
        {{ form.nome|add_class:"form-control" }}
    </div>
    <div class="row">
        <div class="col-md-8 mb-3">
            {{ form.cidade.label_tag }}
            {{ form.cidade|add_class:"form-control" }}
        </div>
        <div class="col-md-4 mb-3">
            {{ form.estado.label_tag }}
            {{ form.estado|add_class:"form-control" }}
        </div>
    </div>
    <button type="submit" class="btn btn-success">Cadastrar</button>
    <a href="{% url 'editora_list' %}" class="btn btn-secondary">Voltar</a>
</form>
{% endblock %}